<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<input type="submit" value="Submit" onclick="llamaAjax()">
  <div id="lst_fac" >
<!--AREA DE ALERTAS-->
  <div id="alert_limite"></div>
  <div id="alert_sin_seleccion"></div>
  <!--AREA DE ALERTAS-->
      <div id="loader-wrapper"></img></div><!--Termina load-->
    </div>